{% extends "common/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load static %}
{% load movie_tags %}
{% block title%}时光倒流电影列表,迅雷720,1080,mkv,bd高清下载 {% endblock %}
{% block head %}

<script src="{% static 'js/movies.js' %}"></script>
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">

 <!--主体内容 -->
    <div id="mainbody" class="moviebody">
         <div class="container">
            <div class="row">
                 <div class="col-md-2" id="siderbar">
                      <div class="sidebar">
                        <div class="sidebar_cell">
                            <div class="sidebar_cell_title">类型</div>
                            <div class="sidebar_cell_list">
                                {% for cate in movie_cate %}
                                    <a href="/movie/movie-list/type/{{ cate }}/">{{ cate }}</a>
                                {% endfor %}
                                <a href="/movie/movie-list/type/其他/">其他</a>
                            </div>
                        </div>
                        <div class="sidebar_cell">
                            <div class="sidebar_cell_title">地区</div>
                            <div class="sidebar_cell_list">
                                {% for country in movie_country %}
                                    <a href="/movie/movie-list/country/{{ country }}/">{{ country }}</a>
                                {% endfor %}
                                <a href="/movie/movie-list/country/其他/">其他</a>
                            </div>
                        </div>
                        <div class="sidebar_cell">
                            <div class="sidebar_cell_title">时间</div>
                            <div class="sidebar_cell_list">
                                {% for year in movie_time %}
                                    <a href="/movie/movie-list/year/{{ year }}/">{{ year }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                 </div>


                <div class="col-md-8">
                    <div class="movieList">

                        <nav class="navbar" style="" role="navigation" id="navibar">
                            <ul class="nav navbar-nav">
                                <li><a href="{% url 'movie_list' %}" class="currentmovietype">最新</a></li>
                                <li><a href="{% url 'movie_list_douban' %}" class="currentmovietype">豆瓣高分</a></li>
                                <li><a href="{% url 'movie_list_imdb' %}" class="currentmovietype">IMDB高分</a></li>
                            </ul>
                        </nav>


                        <ul class="movieTab_con">
                            <!--选项卡切换之最新-->
                            <li class="current">
                               <div class="movieList_con row" style="padding-top: 0px">
                                    {% for movie in obj_infos.object_list %}
                                    <div class="col-md-4">
                                      <div class="movieList_con_cell">
                                        <div class="thumbnail movieList_con_cell_info" href="/movie/movie-detail/{{ movie.id }}/">
{#                                            <span class="glyphicon glyphicon-star havesee"></span>#}
                                            <div class="post-thumbnail">
                                                <a href="/movie/movie-detail/{{ movie.id }}/" class="inimg" target="_blank" title="{{movie.moviename}}{{ movie.translation_name }}">
                                                    <img src="/media/{{movie.movie_head_pic}}" alt="{{movie.moviename}}{{ movie.translation_name }}"/>

                                                </a>
                                                <div class="img_title" style="display:none">
                                                    <small class="imdbscore">{{movie.style}}</small><br>
                                                    <small class="imdbscore">{{movie.country}}</small>
                                                    <small class="imdbscore">{{movie.dateyear}}</small>
                                                </div>
                                            </div>

                                            <div class="caption movie-info">
                                                <ul class="movie-info">
                                                    <li>
                                                        <a href="/movie/movie-detail/{{ movie.id }}/" class="" title="{{ movie.translation_name }}({{movie.moviename}})">{{movie.chinese_movie_name|get_movie_name}}</a>
                                                    </li>
                                                </ul>
{#                                                <ul>#}
{#                                                {% if movie.movieaddress%}#}
{#                                                    <a href="/movie/movie-detail/{{ movie.id }}/" target="_blank" class="btn btn-primary btn-sm btn-movie" role="button" id="{{movie.id}}">详情</a>#}
{#                                                {% endif %}#}
{#                                                {% if movie.downloadlink%}#}
{#                                                <a href="{{movie.downloadlink}}" target="_blank"  class="btn btn-primary btn-sm" role="button">下载</a>#}
{#                                                {% endif %}#}
{#                                                </ul>#}
                                                <ul class="movie-info">
                                                    <li title="{{ movie.actor }}">主演: {{ movie.actor|truncatechars_html:25 }}</li>
                                                </ul>
                                                <ul class="movie-info">
                                                    <li>
                                                        <span>国家: {{movie.country|slice:"15"}}</span>
                                                    </li>

                                                </ul>
                                                <ul class="movie-info">
                                                    <li>
                                                        <span>评分: {{movie.doubanscore}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                        {{movie.doubancounter}}
                                                    </li>

                                                </ul>
                                            </div>

                                        </div>

                                      </div>
                                    </div>
                                   {% endfor %}
                            </div>


                            </li>




                            <!--选项卡切换之最热-->
                            <li>


                            </li>

                            <!--最新电影结束-->

                        </ul>

                      <!--分页符开始-->
                        {% include "blog/pager.html" %}

                        <div style="">
                            声明：本网站提供新影视资源均系收集各大网站，本网站只提供web页面浏览服务，并不提供影片资源存储，也不参与任何视频录制、上传
                                若本站收集的节目无意侵犯了贵司版权，邮箱来信，我们将在第一时间删除， 请大家支持正版到影院观看或购买正版CD!
                            邮箱地址:459260276@qq.com
                        </div>
                    </div>
             </div>



                <!--AD-->
                 <div class="col-md-2">
                    {% include "common/AD.html" %}
                 </div>
                 <!--AD-->
            </div>
        </div>
     </div>
    <!--主体内容结束-->

{% endblock %}

{% block allfilms %}

{% endblock %}