{% extends "common/base.html" %}
{% load highlight %}s
{% load blog_tags %}

{% block css %}
    <style>
        .highlighted{
            color: red;
            margin:0px;
            padding:0px;
            width:100%;
            height:24px;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-lg-8 col-md-7 col-md-offset-1  col-sm-8 remove_padding">
            <div class="sidebar-block">
                <h3 class="catListTitle">
                    <span class="glyphicon glyphicon-search"></span>
                    &nbsp;&nbsp;当前搜索：{{ query }}<p style="float:right">共<code>{{ page.paginator.count }}</code>个结果</p></h3>
                <div></div>
            </div>
            <div class="" style="padding-bottom: 20px">
            {% if query  and page.object_list %}

                {% for result in page.object_list %}
                    {% if result.model_name == 'blog' %}
                        <a href="{% url 'blog_detail' result.object.id|safe %}" target=_blank>
                            <div class="blog_list">
                                <span class="label label-primary">文章
                                </span>
                                <div class="blog_title">
                                    <h2 style="">
                                        {% highlight_title result.object.title query %}
                                    </h2>
                                    <div class="blog_title_info">
                                        <p class="blog_title_info_content">
                                                {% highlight result.object.content with query max_length 90 html_tag "em" css_class "highlighted" %}

                                        </p>
                                    </div>
                                    <p class="blog_time">
                                        <i class="glyphicon glyphicon-time"></i>&nbsp;{{ result.object.pub_time|date:"Y-m-d H:i:s" }}&nbsp;&nbsp;
                                        <i class="glyphicon glyphicon-eye-open"></i>&nbsp;{{ result.object.page_views }}
                                    </p>
                                </div>

                                    <div class="blog_img">
                                        <img src="/media/{{result.object.head_pic_url }}" />
                                    </div>
                            </div>
                        </a>
                    {% elif result.model_name == 'movie' %}
                        <a href="{% url 'movie_detail' result.object.id|safe %}" target=_blank>
                        <div class="blog_list">
                            <span class="label label-primary">电影</span>
                            <div class="blog_title">
                                <h2 style="">
                                    {% highlight_title result.object.chinese_movie_name query %}
                                </h2>
                                <div class="blog_title_info">
                                    <div class="blog_title_info_content">
                                        {% highlight result.object.aboutmovie with query max_length 90 html_tag "em" css_class "highlighted" %}
                                    </div>
                                </div>
                                <p class="blog_time">豆瓣评分：{{result.object.doubanscore}}&nbsp;&nbsp;<i class="glyphicon glyphicon-eye-open"></i>&nbsp;{{ result.object.doubancounter }}&nbsp;&nbsp;</p>
                            </div>

                                <div class="blog_img">
                                    <img src="/media/{{result.object.movie_head_pic}}"  />
                                </div>
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div style="padding: 1rem!important;background: #fff">没找到你想要的结果.</div>
            {% endif %}
            </div>
            {% with obj_infos=page %}
            {% with obj_page_range=page.paginator.page_range %}
                {% include "blog/pager.html" %}
            {% endwith %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}
