{% extends "common/base.html" %}

{% block seo %}
  <meta name="description" content="" />
  <meta name="keywords" content="" />
{% endblock %}

{% load blog_tags %}

{% block content %}
{#    <div class="row" >#}
{#        {% include "common/sowing_map.html" %}#}
{#    </div>#}
    <div class="container">


    <div class="row">

        <div class="col-lg-8 col-md-7 col-md-offset-1  col-sm-8 remove_padding">
{#            <div>#}
{#                <form id="blogSearch" method="GET" action="/search">#}
{#                    <input type="text" class="zu-top-search-input" name="q" autocomplete="off" value="{% if  search_key %}{{ search_key }}{% endif %}" maxlength="100" placeholder="搜索文章内容，标题， 关键字 ..." role="combobox" aria-autocomplete="list">#}
{#                    <button id="blogSearchBtn" type="button" class="zu-top-search-button">#}
{#                        <span class="glyphicon glyphicon-search"></span>#}
{#                    </button>#}
{#                </form>#}
{#                <script>#}
{#                    $("#blogSearchBtn").click(function () {#}
{#                        $("#blogSearch").submit();#}
{#                    })#}
{#                </script>#}
{#            </div>#}
            <nav class="navbar" style="" role="navigation" id="navibar">
                <ul class="nav navbar-nav">
                    <li><a href="/blog/all/" style="">全部</a></li>
                    {% for cate in category1 %}
                        <li><a href="/blog/{{ cate.category_1 }}/" style="">{{ cate.display_name }}</a></li>
                    {% endfor %}
                  </ul>
            </nav>
            <div id="timeline" style="padding-bottom: 20px">
                {% block title_list %}
                {% endblock %}
                {% for blog_info in obj_infos %}
                    {% include "blog/list_style.html" %}
                {% empty %}
		            <div style="padding: 1rem!important;background: #fff">没找到你想要的结果.</div>
                {% endfor %}



            </div>
            {% include "blog/pager.html" %}
        </div>

        <div class="col-lg-4 col-md-3 col-sm-4 remove_padding">

            <div id="right_column">

                <div class="sidebar-block">
                    <h3 class="catListTitle"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;最新更新</h3>

                    <div>
                        <ul style="">
                            {% for blog in obj_latest %}
                                <li><a href="{% url 'blog_detail' blog|get_value:'id' %} " target=_blank>{{ blog|get_value:'title' }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="sidebar-block">

                    <h3 class="catListTitle"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;标签</h3>

                    <div id="tags">
                        <h5>
                            {% include "blog/tag_info.html" %}
                        </h5>
                    </div>

                </div>

                {% if not search_key %}
                <div class="sidebar-block">
                    <div class="catListTag">
                        <h3 class="catListTitle"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;二级分类</h3>
                        <div>
                            <ul style="margin: 0px;padding: 0px">
{#                                <li>#}
{#                                    <a href="#home" data-toggle="tab">#}
{#                                         所有文章#}
{#                                    </a>#}
{#                                </li>#}
                                {% for cate2 in category2 %}
                                    <li><a href="/blog/{{ cate2.category1.category_1 }}/?cate2={{ cate2.category_2 }}">{{ cate2.display_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="sidebar-block">
                    <h3 class="catListTitle"><span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;友情链接</h3>
                    {% include "blog/friends.html" %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
