{% load blog_tags %}

<a href="{% url 'blog_detail' blog_info|get_value:'id' %}" target=_blank>
    <div class="blog_list">
        <span class="label label-primary">{{ blog_info|get_value:"category2" }}</span>
        <div class="blog_title">
            <h2>
                {{ blog_info|get_value:"title"|truncatechars_html:50 }}
            </h2>
            <div class="blog_title_info"><div class="blog_title_info_content">{{ blog_info|get_value:'content'|truncatechars_html:50 }}</div></div>
            <p>{{ blog_info|get_value:"pub_time"|date:"Y-m-d H:i:s" }}&nbsp;&nbsp;
                阅读量: {{ blog_info|get_value:"page_views" }}&nbsp;&nbsp;
                评论数: {{ blog_info.comments }}&nbsp;&nbsp;
            </p>
        </div>

            <div class="blog_img">
                <img src="/media/{{blog_info.head_pic_url}}" />
            </div>
    </div>
</a>

