<ul class="pagination">

	{% if obj_infos.has_previous %}
		<li><a href="?q={{ query }}&page={{ obj_infos.previous_page_number }}"><em style="font-style: normal">上一页</em></a></li>
{#	{% else %}#}
{#		<li><a><em style="font-style: normal">上一页</em></a></li>#}
	{% endif %}

	{% for p in obj_page_range %}
      {% ifequal p obj_infos.number %}
     	 <li class="active"><a>{{p}}</a></li>
      {% else %}
      	<li><a href="?q={{ query }}&page={{p}}" title="第{{p}}页">{{p}}</a><li>
      {% endifequal %}
    {% endfor %}

	{% if obj_infos.has_next %}
    	<li><a href="?q={{ query }}&page={{ obj_infos.next_page_number }}">下一页</a></li>
{#    {% else %}#}
{#    	<li> <a><em style="font-style: normal">下一页</em></a></li>#}
    {% endif %}

    <li><a>共{{ obj_infos.paginator.count }}条&nbsp;当前:{{ obj_infos.number }}/{{ obj_infos.paginator.num_pages }}页&nbsp</a></li>
{#    <li><a >跳转</a></li>#}
    <li><input id="toPage" type="text" style="width: 30px;height: 32px;border: 1px solid #e1e4e8;" value="{{ obj_infos.number }}"/>
        <b id="goToPage" style="cursor: pointer;color:#2a6496;font-weight: bold">跳转</b>
    </li>
</ul>
<script>
    $("#goToPage").click(function () {
        var to = $("#toPage").val();
        location.href = '?page='+to
    })
</script>