{% load blog_tags %}
<nav class="navbar navbar-inverse navbar-fixed-top" style="background: linear-gradient(to bottom,#086ed5,#055db5);" role="navigation" id="topnavibar">
    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
{#                Blog#}
{#                 <img src="/static/img/favicon-48.ico" id="logo"/>#}
            </a>
        </div>

        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav" id="headerMenu">
                {% if request.session_data.sys_menu_html %}
                    {% autoescape off %}{{request.session_data.sys_menu_html}}{% endautoescape %}
                {% else %}
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a></li>
                {% endif %}
                <li>
                    <a href="/blog/all/">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;文章
                    </a>
{#                    <ul class="dropdown-menu">#}
{#                        {% for cate in category1 %}#}
{#                            <li><a href="/blog/{{ cate.category_1 }}/">{{ cate.display_name }}</a></li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
                </li>
                <li><a href="{% url 'movie_list' %}"><span class="glyphicon glyphicon-film"></span>&nbsp;电影</a></li>
                <li><a href="/resource/"><span class="glyphicon glyphicon-share"></span>&nbsp;资源分享</a></li>

                <li><a href="/feed/main.xml"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;订阅</a></li>
                <li><a href="/xadmin/"><span class="glyphicon glyphicon-cog"></span>&nbsp;管理</a></li>

                <li role="search" id="zh-top-search" class="zu-top-search" style="position: relative;float: left;margin: 7px 0 0 12px;">
                    <form method="GET" action="{% url 'search' %}" id="zh-top-search-form" class="zu-top-search-form" style="position: relative;width: 367px;">
                        <input type="text" class="zu-top-search-input" id="q" name="q" autocomplete="off" value="{{  search_key }}" maxlength="100" placeholder="搜索你感兴趣的内容..." role="combobox" aria-autocomplete="list">
                        <button type="submit" class="zu-top-search-button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>
                </li>
                <li>
                    {% csrf_token %}
                    &nbsp;&nbsp;&nbsp;

                    <img class="dianzan" src="/static/img/dianzan.png">
                    <b id="likes" class="likes">{% num %}</b>
                </li>
                {% if request.user.username %}
                    <li class="dropdown-inverse">
                        <a  class="dropdown-toggle" data-toggle="dropdown">
                            {% if request.user.profile.head_pic_url %}
                                <img class="userImg" src="{{ request.user.profile.head_pic_url }}">
                            {% else %}
                                <span class="glyphicon glyphicon-user"></span>
                            {% endif %}
                            <span id="logined_name" title="{{ request.user.username }}">
                                {{ request.user.username|truncatechars_html:10 }}
                            </span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a target="_self" href="/user/profile/{{ request.user.profile.uid }}/"> 个人主页</a></li>
                            <li><a target="_self" href="{% url 'logout' %}"> 登出</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}" style="font-size: 16px"> 登录</a></li>
                    <li><a href="{% url 'sign_up' %}" style="font-size: 16px"> 注册</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
<script>
$(".dianzan").click(function () {
    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
    $.ajax({
        url: "/zan/",
        data: { 'csrfmiddlewaretoken': csrf},
        type: "POST",
        async: false,
        dataType: "json",
        cache: false,
        processData: false,
        contentType: false,
        success: function (result) {
            console.log(result);
            if (result['error']){
                alert(JSON.stringify(result['error']));
                return;
            }else{
                $("#likes").empty().append(result.num)
            }

        },
        error: function (e) {
           alert('server exception!');
        }
    });
})
</script>