{% load blog_tags %}
<nav class="navbar navbar-inverse navbar-fixed-top" style="background: linear-gradient(to bottom,#086ed5,#055db5);" role="navigation" id="topnavibar">
    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
{#                Blog#}
{#                 <img src="/static/img/favicon-48.ico" id="logo"/>#}
            </a>
        </div>

        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav" id="headerMenu">
                {% if request.session_data.sys_menu_html %}
                    {% autoescape off %}{{request.session_data.sys_menu_html}}{% endautoescape %}
                {% else %}
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a></li>
                {% endif %}
                <li class="dropdown-inverse">
                    <a  class="dropdown-toggle" data-toggle="dropdown"><span
                            class="glyphicon glyphicon-pencil"></span>&nbsp;博客<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% for cate in category1 %}
                            <li><a href="/blog/{{ cate.category_1 }}/">{{ cate.display_name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="/profile/"><span class="glyphicon glyphicon-user"></span>&nbsp;个人简介</a></li>
                <li><a href="/feed/main.xml"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;订阅</a></li>
                <li><a href="/xadmin/"><span class="glyphicon glyphicon-cog"></span>&nbsp;管理</a></li>

                <div role="search" id="zh-top-search" class="zu-top-search" style="position: relative;float: left;margin: 7px 0 0 12px;">
                    <form method="GET" action="{% url 'search' %}" id="zh-top-search-form" class="zu-top-search-form" style="position: relative;width: 367px;">
                        <input type="text" class="zu-top-search-input" id="q" name="q" autocomplete="off" value="{{  search_key }}" maxlength="100" placeholder="搜索你感兴趣的内容..." role="combobox" aria-autocomplete="list">
                        <button type="submit" class="zu-top-search-button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>
                </div>
            </ul>


            <div style="float: right">
                <ul class="nav navbar-nav">
                    <li>
                            {% csrf_token %}
                            <img class="dianzan" src="/static/img/dianzan.png">
                            <b id="likes" class="likes">{% num %}</b>
                    </li>
                    {% if request.user.username %}

                            <li class="dropdown user">
                                <a href="/logout/" rel="tooltip" data-placement="bottom" title="" data-original-title="Sign out"></span>
                                <span class="glyphicon glyphicon-user"></span>
                                <span id="logined_name" style="padding-left:5px;">{{ request.user.username }}</span></a>
                            </li>

                    {% else %}

                            <li>
                                <a class="" href="/oauth/github_login/" style="height:50px;">
                                    <img src="/static/img/github.ico"  style="margin-top: -14px">
                                </a>
                            </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
<script>
$(".dianzan").click(function () {
    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
    $.ajax({
        url: "/zan/",
        data: { 'csrfmiddlewaretoken': csrf},
        type: "POST",
        async: false,
        dataType: "json",
        cache: false,
        processData: false,
        contentType: false,
        success: function (result) {
            console.log(result);
            if (result['error']){
                alert(JSON.stringify(result['error']));
                return;
            }else{
                $("#likes").empty().append(result.num)
            }

        },
        error: function (e) {
           alert('server exception!');
        }
    });
})
</script>