{% extends "common/base.html" %}
{% block content %}
    <div class="row">
    <div class="intr">
    	<span class="avtar"></span>
        <p class="peointr">我叫吕梓平，是一名python开发工程师。</p>
        <p class="peointr">爱生活，爱技术，爱电影，爱家庭。</p>
        <p class="peointr">爱江山更爱家庭！</p>
    </div>

    <div class="title" id="part1">爱生活</div>
    <div class="content">
    	<div class="pic pic1">
    		<img src="/static/image/h1.jpg" alt="">
    		<p>家乡-湖北黄冈</p>
    	</div>
    	<div class="pic pic2">
    		<img src="/static/image/h2.jpg" alt="">
    		<p>家乡-蕲春河畔</p>
    	</div>
    	<div class="pic pic3">
    		<img src="/static/image/h3.jpg" alt="">
    		<p>家乡-水库桥岸</p>
    	</div>
    </div>
    <div class="title" id="part2">爱电影</div>
    <div class="content">
    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="/static/image/jek_vorobey.jpg" href="http://17701609050.pythonanywhere.com" alt="...">
                </div>
                <div class="item">
                  <img src="/static/image/01.jpg" href="http://17701609050.pythonanywhere.com" alt="...">
                </div>
				<div class="item">
                  <img src="/static/image/02.jpg" href="http://17701609050.pythonanywhere.com" alt="...">
                </div>
              </div>
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
    </div>
	<div class="title" id="part3">爱技术</div>
    <div class="content">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#home" role="tab" data-toggle="tab">python后端开发</a></li>
          <li><a href="#profile" role="tab" data-toggle="tab">python框架</a></li>
          <li><a href="#messages" role="tab" data-toggle="tab">技术提升</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="home">
          	<p class="text">我是一名python工程师</p>
            <p class="text">这份工作也让我认识到自己的兴趣所在</p>
            <p class="text">愿今后继续做python 做python技术的狂热者</p>
          </div>
          <div class="tab-pane" id="profile">
          	<p class="text">Flask,Django,Tornado作为python web端的框架技术</p>
            <p class="text">用它来开发web,开发应用程序能事半功倍</p>
            <p class="text">愿今后可以继续研究它</p>
          </div>
          <div class="tab-pane" id="messages">
          	<p class="text">作为一名草根程序员</p>
            <p class="text">技术提升是必不可少的</p>
            <p class="text">因此我仍在不断地学习 并因此享受python带来的乐趣</p>
          </div>
        </div>
    </div>

    <div class="title" id="part4">爱家庭</div>
    <div class="content">

    	<div class="pic pic1">
    		<img src="/static/image/psb%20(1).jpg" alt="">
    		<!--<p>家乡-湖北黄冈</p>-->
    	</div>
    	<div class="pic pic2">
    		<img src="/static/image/psb%20(2).jpg" alt="">
    		<!--<p>家乡-蕲春河畔</p>-->
    	</div>
    	<div class="pic pic3">
    		<img src="/static/image/psb%20(3).jpg" alt="">
    		<!--<p>家乡-水库桥岸</p>-->
    	</div>

    </div>
    </div>
{% endblock %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="utf-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <meta name="description" content="">#}
{#    <meta name="author" content="">#}
{#    <title>ziping.lv的个人主页</title>#}
{#    <!-- CSS -->#}
{#    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">#}
{#    <link rel="stylesheet" type="text/css" href="/static/css/blog.css">#}
{#    <link rel="stylesheet" type="text/css" href="/static/css/style.css">#}
{#    <style>#}
{#        .intr{#}
{#            background: #00a0e9;#}
{#        }#}
{#        .intr .peointr{#}
{#            color:#fff;#}
{#        }#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#    {% include "header.html" %}#}
{#	<div class="intr">#}
{#    	<span class="avtar"></span>#}
{#        <p class="peointr">我叫吕梓平，是一名python开发工程师。</p>#}
{#        <p class="peointr">爱生活，爱技术，爱电影，爱家庭。</p>#}
{#        <p class="peointr">爱江山更爱家庭！</p>#}
{#    </div>#}
{##}
{#    <div class="title" id="part1">爱生活</div>#}
{#    <div class="content">#}
{#    	<div class="pic pic1">#}
{#    		<img src="/static/image/h1.jpg" alt="">#}
{#    		<p>家乡-湖北黄冈</p>#}
{#    	</div>#}
{#    	<div class="pic pic2">#}
{#    		<img src="/static/image/h2.jpg" alt="">#}
{#    		<p>家乡-蕲春河畔</p>#}
{#    	</div>#}
{#    	<div class="pic pic3">#}
{#    		<img src="/static/image/h3.jpg" alt="">#}
{#    		<p>家乡-水库桥岸</p>#}
{#    	</div>#}
{#    </div>#}
{#    <div class="title" id="part2">爱电影</div>#}
{#    <div class="content">#}
{#    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">#}
{#              <ol class="carousel-indicators">#}
{#                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>#}
{#                <li data-target="#carousel-example-generic" data-slide-to="1"></li>#}
{#                <li data-target="#carousel-example-generic" data-slide-to="2"></li>#}
{#              </ol>#}
{#              <div class="carousel-inner" role="listbox">#}
{#                <div class="item active">#}
{#                  <img src="/static/image/jek_vorobey.jpg" href="http://17701609050.pythonanywhere.com" alt="...">#}
{#                </div>#}
{#                <div class="item">#}
{#                  <img src="/static/image/01.jpg" href="http://17701609050.pythonanywhere.com" alt="...">#}
{#                </div>#}
{#				<div class="item">#}
{#                  <img src="/static/image/02.jpg" href="http://17701609050.pythonanywhere.com" alt="...">#}
{#                </div>#}
{#              </div>#}
{#              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">#}
{#                <span class="glyphicon glyphicon-chevron-left"></span>#}
{#                <span class="sr-only">Previous</span>#}
{#              </a>#}
{#              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">#}
{#                <span class="glyphicon glyphicon-chevron-right"></span>#}
{#                <span class="sr-only">Next</span>#}
{#              </a>#}
{#            </div>#}
{#    </div>#}
{#	<div class="title" id="part3">爱技术</div>#}
{#    <div class="content">#}
{#        <ul class="nav nav-tabs" role="tablist">#}
{#          <li class="active"><a href="#home" role="tab" data-toggle="tab">python后端开发</a></li>#}
{#          <li><a href="#profile" role="tab" data-toggle="tab">python框架</a></li>#}
{#          <li><a href="#messages" role="tab" data-toggle="tab">技术提升</a></li>#}
{#        </ul>#}
{#        <div class="tab-content">#}
{#          <div class="tab-pane active" id="home">#}
{#          	<p class="text">我是一名python工程师</p>#}
{#            <p class="text">这份工作也让我认识到自己的兴趣所在</p>#}
{#            <p class="text">愿今后继续做python 做python技术的狂热者</p>#}
{#          </div>#}
{#          <div class="tab-pane" id="profile">#}
{#          	<p class="text">Flask,Django,Tornado作为python web端的框架技术</p>#}
{#            <p class="text">用它来开发web,开发应用程序能事半功倍</p>#}
{#            <p class="text">愿今后可以继续研究它</p>#}
{#          </div>#}
{#          <div class="tab-pane" id="messages">#}
{#          	<p class="text">作为一名草根程序员</p>#}
{#            <p class="text">技术提升是必不可少的</p>#}
{#            <p class="text">因此我仍在不断地学习 并因此享受python带来的乐趣</p>#}
{#          </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="title" id="part4">爱家庭</div>#}
{#    <div class="content">#}
{##}
{#    	<div class="pic pic1">#}
{#    		<img src="/static/image/psb (1).jpg" alt="">#}
{#    		<!--<p>家乡-湖北黄冈</p>-->#}
{#    	</div>#}
{#    	<div class="pic pic2">#}
{#    		<img src="/static/image/psb (2).jpg" alt="">#}
{#    		<!--<p>家乡-蕲春河畔</p>-->#}
{#    	</div>#}
{#    	<div class="pic pic3">#}
{#    		<img src="/static/image/psb (3).jpg" alt="">#}
{#    		<!--<p>家乡-水库桥岸</p>-->#}
{#    	</div>#}
{##}
{#    </div>#}
{#    {% include "footer.html" %}#}
{##}
{#    <!-- Js-->#}
{#    <script src="/static/js/jquery-1.11.3.min.js"></script>#}
{#    <script src="/static/js/bootstrap/bootstrap.js"></script>#}
{#    <script src="/static/js/main.js"></script>#}
{#    <script src="/static/js/plugin.js"></script>#}
{##}
{#</body>#}
{#</html>#}
