{% extends "common/base.html" %}

{% block seo %}
  <meta name="description" content="" />
  <meta name="keywords" content="" />
{% endblock %}

{% load blog_tags %}
{% load movie_tags %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-7 col-md-offset-1  col-sm-8 remove_padding">
                <div class="sidebar-block">
                    <h3 class="catListTitle"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;文章推荐
                        <span style="float: right"><a href="/blog/all/">更多>></a></span>
                    </h3>

                    <div>
                        <ul style="">
                            {% for blog_info in blogs %}
                                <li>
                                    <a href="{% url 'blog_detail' blog_info|get_value:'id' %}" target="_blank">
                                        {{ blog_info|get_value:"title"|truncatechars_html:500 }}
                                    </a>
                                    <span style="float: right;margin-right: 5px;color: #bbbbbb">
                                        <b>{{ blog_info|get_value:"pub_time"|date:"Y-m-d" }}</b>
                                        &nbsp;&nbsp;<span style="width:10px"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;{{ blog_info|get_value:"page_views" }}</span>
                                        &nbsp;&nbsp;<span style="width:10px"><i class="glyphicon glyphicon-comment"></i>&nbsp;{{ blog_info.comments }}</span>
                                    </span>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>

                <div class="sidebar-block">
                    <h3 class="catListTitle"><span class="glyphicon glyphicon-film"></span>&nbsp;&nbsp;电影推荐
                        <span style="float: right"><a href="/movie/movie-list/">更多>></a></span>
                    </h3>

                    <div class="movieList_con row" style="padding-top: 0px">
                        {% for movie in movies %}
                            <div class="col-md-3">
                              <div class="movieList_con_cell">
                                <div class="thumbnail movieList_con_cell_info" href="/movie/movie-detail/{{ movie.id }}/">

                                    <div class="post-thumbnail">
                                        <a href="/movie/movie-detail/{{ movie.id }}/" class="inimg" target="_blank" title="{{movie.moviename}}{{ movie.translation_name }}">
                                            <img style="" src="/media/{{movie.movie_head_pic}}" alt="{{movie.moviename}}{{ movie.translation_name }}">

                                        </a>
                                        <div class="img_title" style="display:none">
                                            <small class="imdbscore">{{movie.style}}</small><br>
                                            <small class="imdbscore">{{movie.country}}</small>
                                            <small class="imdbscore">{{movie.dateyear}}</small>
                                        </div>
                                    </div>

                                    <div class="caption movie-info">
                                        <ul class="movie-info">
                                            <li>
                                                <a href="/movie/movie-detail/{{ movie.id }}/" target="_blank" title="{{ movie.translation_name }}({{movie.moviename}})">{{movie.chinese_movie_name|get_movie_name}}</a>
                                            </li>
                                        </ul>


                                        <ul class="movie-info">
                                            <li title="{{ movie.actor }}">主演: {{ movie.actor|truncatechars_html:15 }}</li>
                                        </ul>
                                        <ul class="movie-info">
                                            <li>
                                                <span>国家: {{movie.country|slice:"15"}}</span>
                                            </li>

                                        </ul>
                                        <ul class="movie-info">
                                            <li>
                                                <span>评分: {{movie.doubanscore}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                {{movie.doubancounter}}
                                            </li>

                                        </ul>
                                    </div>

                                </div>

                              </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>

{#                <div class="sidebar-block">#}
{#                    <h3 class="catListTitle"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;资源干货推荐</h3>#}
{##}
{#                    <div>#}
{#                        <ul style="">#}
{##}
{##}
{##}
{##}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}

            </div>

            <div class="col-lg-4 col-md-3 col-sm-4 remove_padding">


                <div class="sidebar-block">

                    <div class="profile site-box">
                        <div class="master-image">
                            <img src="/static/image/2.jpg" alt="author">
                            <div class="master-info">
                                <p class="profile-master">Lv Ziping</p>
                                <p class="master-description">
                                    专注， 真诚， 执行力
                                </p>
                            </div>
                        </div>


                        <div class="info">
                            <ul>
                                <li><a href="/blog/all/">
                                    <span>文章</span>&nbsp;<strong>{{ blog_count }}</strong>

                                </a></li>
                                <li><a href="/movie/movie-list/">
                                    <span>电影</span>&nbsp;<strong>{{ movie_count }} </strong>

                                </a></li>
                                <li class="last-li"><a href="/resource/">
                                    <span>资源</span>&nbsp;<strong>{{ resource_count }} </strong>

                                </a></li>
                            </ul>
                        </div>


                        <div id="rss">
                            <a href="{% url 'profile' %}"><i class="icon-rss"></i> 关于作者</a>
                            <a href="{% url 'home' %}"><i class="icon-rss"></i> 个人主页</a>
                            <a href="/feed/main.xml"><i class="icon-rss"></i> RSS</a>
                        </div>

                        <div class="love-me">
                            {% csrf_token %}
                            <img class="dianzan" src="/static/img/dianzan.png">
                            <b id="likes" class="likes">{% num %}</b>

                            <div class="clear"></div>
                            <script>
                                $(".dianzan").click(function () {
                                    var csrf = $('input[name="csrfmiddlewaretoken"]').val();
                                    $.ajax({
                                        url: "/zan/",
                                        data: { 'csrfmiddlewaretoken': csrf},
                                        type: "POST",
                                        async: false,
                                        dataType: "json",
                                        cache: false,
                                        processData: false,
                                        contentType: false,
                                        success: function (result) {
                                            console.log(result);
                                            if (result['error']){
                                                alert(JSON.stringify(result['error']));
                                                return;
                                            }else{
                                                $("#likes").empty().append(result.num)
                                            }

                                        },
                                        error: function (e) {
                                           alert('server exception!');
                                        }
                                    });
                                })
                            </script>
                        </div>
                    </div>

                </div>
                <div class="sidebar-block">
                    <h3 class="catListTitle"><span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;赞赏一波支持本站发展</h3>
                    <div style="text-align: center">
                    支付宝
                    <img class="zanshang" style="width:120px;height: 120px;" src="/static/img/20190921193533_1.jpg">
                    <img class="zanshang" style="width:120px;height: 120px;" src="/static/img/20190921193547_2.png">
                    微信
                    </div>
                </div>
                <div class="sidebar-block">
                    <h3 class="catListTitle"><span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;友情链接</h3>
                    {% include "blog/friends.html" %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}