{% extends "common/base.html" %}

{% block seo %}
  <meta name="description" content="TimeBack博客首页，Ziping的个人博客" />
  <meta name="keywords" content="TimeBack, Ziping, 豆瓣高评分好看的电影迅雷高清下载" />
{% endblock %}

{% load blog_tags %}
{% load movie_tags %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-7 col-md-offset-1  col-sm-8 remove_padding">
                <div class="sidebar-block">
                    <h3 class="catListTitle"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;文章推荐
                        <span style="float: right"><a href="/blog/all/">更多>></a></span>
                    </h3>

                    <div>
                        <ul style="">
                            {% for blog_info in blogs %}
                                <li>
                                    <a href="{% url 'blog_detail' blog_info|get_value:'id' %}" target="_blank">
                                        {{ blog_info|get_value:"title"|truncatechars_html:500 }}
                                    </a>
                                    <span style="float: right;margin-right: 5px;color: #bbbbbb">
                                        <b>{{ blog_info|get_value:"pub_time"|date:"Y-m-d" }}</b>
                                        &nbsp;&nbsp;<span style="width:10px"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;{{ blog_info|get_value:"page_views" }}</span>
                                        &nbsp;&nbsp;<span style="width:10px"><i class="glyphicon glyphicon-comment"></i>&nbsp;{{ blog_info.comments }}</span>
                                    </span>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>

                <div class="sidebar-block">
                    <h3 class="catListTitle"><span class="glyphicon glyphicon-film"></span>&nbsp;&nbsp;电影推荐
                        <span style="float: right"><a href="/movie/movie-list/">更多>></a></span>
                    </h3>

                    <div class="movieList_con row" style="padding-top: 0px">
                        {% for movie in movies %}
                            <div class="col-md-3">
                              <div class="movieList_con_cell">
                                <div class="thumbnail movieList_con_cell_info" href="/movie/movie-detail/{{ movie.id }}/">

                                    <div class="post-thumbnail">
                                        <a href="/movie/movie-detail/{{ movie.id }}/" class="inimg" target="_blank" title="{{movie.moviename}}{{ movie.translation_name }}">
                                            <img style="" src="/media/{{movie.movie_head_pic}}" alt="{{movie.moviename}}{{ movie.translation_name }}">

                                        </a>
                                        <div class="img_title" style="display:none">
                                            <small class="imdbscore">{{movie.style}}</small><br>
                                            <small class="imdbscore">{{movie.country}}</small>
                                            <small class="imdbscore">{{movie.dateyear}}</small>
                                        </div>
                                    </div>

                                    <div class="caption movie-info">
                                        <ul class="movie-info">
                                            <li>
                                                <a href="/movie/movie-detail/{{ movie.id }}/" target="_blank" title="{{ movie.translation_name }}({{movie.moviename}})">{{movie.chinese_movie_name|get_movie_name}}</a>
                                            </li>
                                        </ul>


                                        <ul class="movie-info">
                                            <li title="{{ movie.actor }}">主演: {{ movie.actor|truncatechars_html:15 }}</li>
                                        </ul>
                                        <ul class="movie-info">
                                            <li>
                                                <span>国家: {{movie.country|slice:"15"}}</span>
                                            </li>

                                        </ul>
                                        <ul class="movie-info">
                                            <li>
                                                <span>评分: {{movie.doubanscore}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                {{movie.doubancounter}}
                                            </li>

                                        </ul>
                                    </div>

                                </div>

                              </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>

{#                <div class="sidebar-block">#}
{#                    <h3 class="catListTitle"><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;资源干货推荐</h3>#}
{##}
{#                    <div>#}
{#                        <ul style="">#}
{##}
{##}
{##}
{##}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}

            </div>

            <div class="col-lg-4 col-md-3 col-sm-4 remove_padding">

                {% include "common/author.html" %}
                {% include "blog/tag_info.html" %}
                {% include "common/AD.html" %}
                {% include "common/exceptional.html" %}
                {% include "blog/friends.html" %}
            </div>

        </div>
    </div>
{% endblock %}