<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">

</head>
<body class='login' style="background: #f1f1f1">
	<div class="sign">
        <div class="main">
            <div class="login-panel panel panel-default" style="">

                <div class="panel-heading">
                    <h3 class="panel-title">登录</h3>
                </div>
                <div class="panel-body" style="background: #fff">
                    <form class='form-validate' id="login-form" method="post" action=".">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <input type="text" name='username' placeholder="用户名" class='form-control'/>
                                <span></span>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="密码" class='form-control' data-rule-required="true"/>
                                <span></span>
                            </div>
                             <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">记住我
                                </label>
                            </div>
                            <br>
                            <div class="more-sign">
                                <h6>社交帐号登录</h6>
                                <ul>
                                    <li id="github-link-wrap" ><a class="github" href="{% url 'github_login' %}" >GitHub</a></li>
                                    <li><a id="weibo" class="weibo" target="_blank" href="/users/auth/wechat"><i class="iconfont ic-weibo"></i></a></li>
                                    <li><a id="weixin" class="weixin" target="_blank" href="/users/auth/wechat"><i class="iconfont ic-wechat"></i></a></li>
                                    <li><a id="qq" class="qq" target="_blank" href="/users/auth/qq_connect"><i class="iconfont ic-qq_connect"></i></a></li>
{#                                    <li class="js-more-method" id="more"><a href="javascript:void(0);"><i class="iconfont ic-more"></i></a></li>#}
{#                                    <li class="js-hide-method hide"><a class="douban" target="_blank" href="/users/auth/douban"><i class="iconfont ic-douban"></i></a></li>#}
                                </ul>

                            <div class="weibo-geetest-captcha"></div>
                          </div>

                            <div class="submit">
                                <input type="submit" value="登录" class='btn btn-lg btn-primary btn-block'>
                            </div>
                            <br><br>
                            <div class="login-signup">还没有帐号，<a  href="{% url 'sign_up' %}">注册一个</a></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>

</body>
</html>