<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta http-equiv="refresh" content="0; url={% url 'home' %}" />
<link rel="icon" href="{{STATIC_URL}}icg/common/img/favicon.ico" type="image/x-icon"/>
<link rel="Bookmark" href="{{STATIC_URL}}icg/common/img/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="{{STATIC_URL}}icg/common/img/favicon.ico" type="image/x-icon"/>
<title></title>
</head>
<body>
<p style="color:#368ee0">Goodbye!</p>
</body>
</html>